<div class="row container">
  <!-- Game Controls -->
  <div class="col-md-3">
    <h2> Controls </h2>
      <div class="row col-md-12 form-group">
        <label class="form-control-inline"> Current Team : </label>
        <select class="form-control-inline" ng-data="team" ng-model="team">
          <option value="BLUE"> BLUE </option>
          <option value="RED"> RED </option>
        </select>
        <div>
          <button class="form-control" ng-click="getNewBoard()"> New Board </button>
        </div>
      </div>
    <!-- Score Board -->
    <h2> Score Board </h2>
    <div class="row col-md-12">
      <div class="col-md-6" ng-data="redRemaining">
        <h4> RED | {{redRemaining.value}} </h4>
      </div>
      <div class="col-md-6" ng-data="blueRemaining">
        <h4> BLUE | {{blueRemaining.value}} </h4>
      </div>
    </div>
  </div>
  <!-- Game Board -->
  <div class="col-md-9">
    <table>
      <tr ng-repeat="gameRow in gameBoard.gameRows">
      <td class="col-xs-2" ng-repeat="gameTile in gameRow.rowTiles">
          <game-tile gametile="gameTile" team="team"></game-tile>
      </td>
      </tr>
    </table>
  </div>
</div>
