<div class="col-lg-9 col-lg-push-3"> <!--col-xs-12"-->
	<div class="container table">
	<score-board ng-show="gameBoard"></score-board>
	<table ng-data="gameBoard">
		<tr ng-repeat="gameRow in gameBoard.gameRows">
			<td class="col-xs-2 gametile" ng-repeat="gameTile in gameRow.rowTiles" >
				<game-tile gametile="gameTile" team="team" callback="gameTileCallBack"></game-tile>
			</td>
		</tr>
	</table>
	</div>
	<clue-list cluelist="clueListServer" ng-show="selectedRoundNumber"></clue-list>
</div>
<div class="col-lg-3 col-lg-pull-9"> <!-- col-md-2 col-xs-6 -->
	<div class="panel panel-default">
	<div class="panel-heading"><h4>Round | {{selectedRoundNumber}}</h4></div>
	<div class="panel-body">
		<div ng-repeat="round in game.rounds">
			<a ng-click="selectRoundNumber(round.roundNumber)"> Round Number: {{round.roundNumber}} </a>
		</div>
	</div>
	</div>
	<!-- Create Game Control Directive -->
	<game-controls newround="getNewRound" game="game" gameboard="gameBoard" roundnumber="selectedRoundNumber" codemaster=""></game-controls>
</div>


