<div class="container">
	<div class="row">
		<table class="col-md-12">
			<tr>
				<th class="col-md-4">Game Id</th>
				<th class="col-md-4">Status</th>
				<th class="col-md-4">Join</th>
			</tr>
			<tr ng-repeat="game in listOfGames">
				<td>{{game.id}}</td>
				<td>{{game.status}}</td>
				<td><button class="btn btn-primary btn-small"
						ui-sref="gameroom({gameId: game.id })"
						ng-click="getGameBoardById(game.rounds[0].gameBoard.id)">
						Join</button>
			</tr>
		</table>
		<div class="row">
			<button type="button" class="btn btn-primary" ng-click="newGame()">New
				Game</button>
		</div>
	</div>