body {
	padding-top: 60px;
}
.gametile{
	text-align: center;
	font-size: 24px;
	padding: 6px;
	border-width: 1px;
	border-style: solid;
	margin: 4px;
	color: black;
	background-color: #d3d1cd;
}
.gametilered {
	color: black;
	background-color: red;
}